@font-face {
  font-family: "Circe Regular";
    src: url(../fonts/Circe-Regular.woff2) format("woff2"),
        url(../fonts/Circe-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "Playfair Display Bold";
    src: url(../fonts/PlayfairDisplay-Bold.woff2) format("woff2"),
        url(../fonts/PlayfairDisplay-Bold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: "IntroScriptR-H2Base";
    src: url(../fonts/IntroScriptR-H2Base.woff2) format("woff2"),
        url(../fonts/IntroScriptR-H2Base.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}
