$font-size: 14px;
$font-size--h2: 16px;
$font-size--h3: 22px;
$font-size--h4: 24px;
$font-size--h5: 12px;

$font-family: "Circe Regular", "Arial", sans-serif;
$font-family--f1: "Playfair Display", "Arial", sans-serif;
$font-family--f2: "Intro Script R H2 Base", "TT Milks Script", sans-serif;

$color-main: #fbebea;

$screen-md: 768px;
$screen-xl: 1150px;
